@import url('https://fonts.googleapis.com/css?family=Oswald');

.app-header {
  background-color: #222;
  padding: 20px;
}

.app-header h1.ui.header {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
}

@media (min-width: 768px) { 
    .app-header h1.ui.header {
        font-size: 5rem;
    }
}